.header {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.bars {
  font-size: 20px;
  padding-top: 10px;
}

.arrow {
  font-size: 35px;
}

.mood-container {
  margin-top: 100px;
}

.img-mood {
  border-radius: 50%;
  height: 300px;
  border: 5px solid grey;
  margin-left: -100px;
}

.kalender {
  vertical-align: middle;
  position: absolute;
  margin-left: 0px;
}

.day {
  margin-left: 50px;
}

.city {
  margin-left: 50px;
  font-size: 2em;
  color: yellow;
}

.invcontainer09 {
  width:200px;
  height:100px;
  border: solid white 0.5px;
  
}

.container09 {
  border: solid white 2px;
  border-radius: 50%;
  height:100px;
  width: 100px;
}

.wsymb {
  vertical-align: center;
  
}

.time {

}